* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

body, form{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items: center;
}

table{
    width: 40%;
    border: 3px solid rgba(0,0,0,.1);
    border-radius:5px;
    padding: 5px;
}

tr ,td{
    border: 1px solid rgba(0,0,0,.5);
    padding:5px;
    font-size: 20px;
}

button{
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
}

input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}